<script type="text/tmpl" id="script_renting_complete_form_tmpl_es">

  <div class="mb-form-group customer_component">
    <label for="customer_stock_plate">Matrícula del vehículo *</label>
    <input class="mb-form-control" id="customer_stock_plate" name="customer_stock_plate" type="text" placeholder="Número de matrícula" maxlength="15" required>
  </div>

  <div class="mb-form-group customer_component">
    <label for="customer_name">Nombre *</label>
    <input type="text" class="mb-form-control" name="customer_name" id="customer_name" autocomplete="off" placeholder="Nombre" maxlength="40">
  </div>

  <div class="mb-form-group customer_component">
    <label for="customer_surname">Apellidos *</label>
    <input type="text" class="mb-form-control" name="customer_surname" id="customer_surname" autocomplete="off" placeholder="Apellidos" maxlength="40">
  </div>

  <div class="mb-form-group customer_component">
    <label for="customer_email">Correo electrónico *</label>
    <input type="text" class="mb-form-control" name="customer_email" id="customer_email" autocomplete="off" placeholder="Email" maxlength="50">
  </div>

  <div class="mb-form-group customer_component">
    <label for="customer_email">Confirmar correo electrónico*</label>
    <input type="text" class="mb-form-control" name="confirm_customer_email" autocomplete="off" id="confirm_customer_email" placeholder="Confirmar email" maxlength="50">
  </div>

  <div class="mb-form-group customer_component">
      <label for="customer_phone">Teléfono*</label>
      <input type="text" class="mb-form-control" name="customer_phone" id="customer_phone" autocomplete="off" placeholder="+34" maxlength="15">
  </div>

  <div class="mb-form-group customer_component">
      <label for="customer_mobile_phone">Teléfono alternativo</label>
      <input type="text" class="mb-form-control" name="customer_mobile_phone" id="customer_mobile_phone" autocomplete="off" placeholder="+34" maxlength="15">
  </div>
  <br>

  <div class="mb-form-group">
    <label for="comments">Comentarios</label>
    <textarea class="mb-form-control" name="comments" id="comments" placeholder="Comentarios"></textarea>
  </div>

  <div id="payment_detail"></div>

</script>
