<script type="text/tmpl" id="script_renting_complete_form_tmpl_es">

  <h4 class="brand-primary my-3">Datos del cliente</h4>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Nombre *</label>
      <input class="form-control" id="customer_name" name="customer_name" type="text"
        placeholder="Nombre*" maxlength="40">
    </div>
    <div class="form-group col-md-6">
      <label for="surname">Apellidos*</label>
      <input class="form-control" id="customer_surname" name="customer_surname" type="text"
        placeholder="Apellidos" maxlength="40">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Correo electrónico*</label>
      <input class="form-control" id="customer_email" name="customer_email" type="text"
        placeholder="Correo electrónico" maxlength="50">
    </div>
    <div class="form-group col-md-6">
      <label for="confirm_customer_email">Confirmar correo electrónico*</label>
      <input class="form-control" id="confirm_customer_email" name="confirm_customer_email" type="text"
        placeholder="Confirmar correo electrónico" maxlength="50">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="customer_phone">Teléfono principal*</label>
      <input class="form-control" id="customer_phone" name="customer_phone" type="text"
        placeholder="Teléfono principal" maxlength="15">
    </div>
    <div class="form-group col-md-6">
      <label
        for="flight_number">Número de vuelo*</label>
      <input class="form-control" id="flight_number" name="flight_number" type="text"
        placeholder="Número de vuelo" maxlength="10" required="true">      
    </div> 
  </div>

  <h4 class="brand-primary my-3">Información adicional</h4>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="comments">Comentarios</label>
      <textarea name="comments" id="comments" placeholder="Comentarios"
        style="width: 100%; height: 100px; padding: 0.8rem;"></textarea>
    </div>
  </div>

  <div id="payment_detail"></div>

</script>